/*  your css code here. If applicable */
body{
	background-color: #f5f5f5;
}

.navbar{
        background-color: #011e29;	
	    padding:10px;
	    text-align:center;
}

div{
	color:white;
}

.article{
	text-align:center;
	background-color:white;
	padding:30px;
	margin-left:10px;
	width:20%;
	height:200px;
	border-radius:20px;
    margin-top: 30px;
}
.main{
	text-align:center;
	background-color:white;
	padding:50px;
	margin-left:30px;
	width:40%;
	height:250px;
	border-radius:5%;
    margin-top: 30px;
	
}
.final{
	    text-align:center;
	    background-color:white;
		padding:50px;
		margin-left:30px;
	    width:30%;
	    height:500px;
		border-radius:25px;
        margin-top: 30px;
}

img{
	 width:70%;
}
.flex{
	display:flex;
}